.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

footer {
  margin-top: 20px;
}

img.gw-logo {
  display: inline;
  width: 29%;
}

img.gw-logo-text {
  display: inline;
  width: 70%;
}

